body{
    background-color:antiquewhite;
    font-family: "Times New Roman", Times, serif;
    /*text-align: center;*/
    font-size: x-large;
    margin-right: 5%;
    margin-left: 5%;
}

a {
    text-decoration: none;
    color: black;
}

.elenco{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.divConSeparatori{
    border-bottom: 1px solid black;
}

.descrizione{
    font-size:large;
}

tr, td {
    border-bottom: 2px solid #ddd;
    text-align: center;
}

footer{
    font-size:smaller;
    color:darkblue;
    text-align: center;
}

footer a:link{
    text-decoration: underline;
    
}